language: node_js
node_js:
- node
deploy:
  provider: script
  skip_cleanup: true
  script: scripts/deploy.sh
  on:
    branch: master
before_install:
- openssl aes-256-cbc -K $encrypted_df7688e28ede_key -iv $encrypted_df7688e28ede_iv
  -in id_rsa.pub.enc -out ~\/.ssh/id_rsa.pub -d
