language: ruby
rvm:
- 2.0.0-p648
deploy:
  provider: script
  skip_cleanup: true
  script: scripts/deploy.sh
  on:
    branch: master
before_install:
- openssl aes-256-cbc -K $encrypted_df7688e28ede_key -iv $encrypted_df7688e28ede_iv
  -in id_rsa.tar.enc -out id_rsa.tar -d
- tar xvf id_rsa.tar
