<div class="text-right profile">
    <a href-"/" class="mugshot">
        <img src="/images/profilepic_2.jpg" width="80" height="80">
    </a>
    <h3><a href="/">Max Lin</a></h3>
    <div>
        I'm Devops Engineer at <a href="https://www.yahoo.com">Yahoo!</a>, where the focus is automation, writing tools, and building scalable end-to-end system.
    </div>
    <div class="hidden">
        <a href="https://github.com/linweihs"><i class="fa fa-github fa-2x"></i>&nbsp;</a>
        <a href="https://www.instagram.com/_maxlin/"><i class="fa fa-instagram fa-2x"></i>&nbsp;</a>
        <a href="http://goo.gl/DeAGrZ"><i class="fa fa-linkedin-square fa-2x"></i>&nbsp;</a>
    </div>
</div>
