<h2 class="bordered"><strong>Hey!</strong></h2>
<ul class="list-unstyled">
    <li>Read my <strong><a href="/resume/">résumé</a></strong></li>
    <li>Follow me on <i class="fa fa-instagram fa-lg"></i> <a href="https://www.instagram.com/_maxlin/">Instagram</a>.</li>
    <li>Check my <i class="fa fa-github fa-lg"></i> <a href="https://github.com/linweihs">Github</a>.</li>
    <li>I'm on <i class="fa fa-linkedin-square fa-lg"></i> <a href="http://goo.gl/DeAGrZ">Linkedin</a>.</li>
    <li>Send me email at <a href="mailto:max.linweihs@gmail.com">max.linweihs@gmail.com</a>.</li>
</ul>
