<h3 class="bordered"><strong>Work Experience</strong></h3>
<div>
    <h4><a href="https://www.yahoo.com">Yahoo!</a> — <strong>Production Engineer/Devops</strong> <small>[Jul 2014 - Present]</small></h4>
    <ul>
        <li>Responsible for operability, scalability, capacity, stability and performance of system.</li>
        <li>Spent 20% of time writing automation/monitoring script.</li>
        <li>Reduced 67% of alerts noise by automating script such as service restart, memory/disk cleaned up, etc. in a course of two quarters.</li>
        <li>Developed scripts to reset the state of servers and recover the issue if problem occurs.</li>
        <li>Automated monitoring script for checking the data freshness on HDFS in order to fill the monitor gap.</li>
        <li>Grid retention: defined retention policy and implemented automation script for cleaning up old data on grid.</li>
        <li>Experienced with Linux system-level tools to troubleshoot complex end-to-end system issues including web services, internal dependencies, grid computing such as HDFS, HBase, Storm topology, etc. in timely and efficient manner.</li>
        <li>Scaled up/out systems with careful capacity planning and traffic analysis on quarterly basis.</li>
        <li>Reduced service cost by cleaning up zombie/idle hosts and virtualized over 1,000 underutilized hardwares.</li>
        <li>CICD(Continuous Integration Continuous Development) best practice using jenkins, git, chef.</li>
    </ul>
</div>
